language: cpp
dist: xenial

before_install:

install:
  - sudo apt-get update
  - sudo apt-get install -y software-properties-common
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90

before_script:
  - g++ --version

script:
  - g++ main.cpp -o main
  - ./main
